#wrapper{
	display: block;
}

.track_container {
    width:auto;
		margin-top: 30px;
    border:2px solid #888888;
    position:relative;
    text-align:center;
		display:flex;
		align-items:center;
		justify-content: center;
}

.cover{
	margin:30px;
}
.overlay {
    position:fixed;
    left:0;
		top: 0;
		right:0;
		bottom:0;
    z-index:1;
    height:100%;
    width:100%;
    background:#ffffff;
    opacity:0.6;
    display:none;
		text-align:center;
}


.video{
	display: none;
	color: black;
	position: absolute;
	top:30%;
	margin-top:-157.5px;
	left:50%;
	margin-left: -280px;
	z-index:2;
}


ol{
	padding: 0px;
}

li{
	list-style-position: inside;
}

h2{
	font-family: Viola;
}
